<mat-card class="selector-card">
    <mat-card-header>
        <mat-card-title>
            Dice Roller
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        test
    </mat-card-content>
    <mat-card-actions>
        <app-single-die [dieType]="100"></app-single-die>
        <app-single-die [dieType]="20"></app-single-die>
        <app-single-die [dieType]="12"></app-single-die>
        <app-single-die [dieType]="10"></app-single-die>
        <app-single-die [dieType]="8"></app-single-die>
        <app-single-die [dieType]="6"></app-single-die>
        <app-single-die [dieType]="4"></app-single-die>
        <app-single-die [dieType]="3"></app-single-die>
        <app-single-die [dieType]="2"></app-single-die>
    </mat-card-actions>

</mat-card>