<h1>Dice Roller
  <app-auto-buttons></app-auto-buttons>
</h1>

<app-dice-card [dieType]="100"></app-dice-card>
<app-dice-card [dieType]="20"></app-dice-card>
<app-dice-card [dieType]="12"></app-dice-card>
<app-dice-card [dieType]="10"></app-dice-card>
<app-dice-card [dieType]="8"></app-dice-card>
<app-dice-card [dieType]="6"></app-dice-card>
<app-dice-card [dieType]="4"></app-dice-card>
<app-dice-card [dieType]="3"></app-dice-card>
<app-dice-card [dieType]="2"></app-dice-card>



<router-outlet></router-outlet>