<p>
    <mat-toolbar color="primary">
      <span>Dice Roller</span>
      <app-auto-buttons></app-auto-buttons>
    </mat-toolbar>
</p>

<app-die-card [dieType]="100"></app-die-card>
<app-die-card [dieType]="20"></app-die-card>
<app-die-card [dieType]="12"></app-die-card>
<app-die-card [dieType]="10"></app-die-card>
<app-die-card [dieType]="8"></app-die-card>
<app-die-card [dieType]="6"></app-die-card>
<app-die-card [dieType]="4"></app-die-card>
<app-die-card [dieType]="3"></app-die-card>
<app-die-card [dieType]="2"></app-die-card>
